
<!-- 模态框（Modal） -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               添加新文章
            </h4>
         </div>
         <div class="modal-body">
             <%= form_for(@article) do |f| %>
              <div class="field">
                  <%= f.label :'标题 * :' %><br/>
                  <%= f.text_field :title ,class:"form-control"%>
             </div>
              <div class="field">
                  <%= f.label :'文章文本:' %><br/>
                  <%= f.text_area :content ,rows:"10",class:"form-control" %>
             </div>
              <div class="field">
                  <%= f.label :'关键词:' %><br/>
                  <%= f.text_field :keyword ,class:"form-control", rows:"3" %>
             </div>
             <div class="field">
                  <%= f.label :'媒介:' %><br/>
                  <%= f.radio_button  :source ,1,:checked=>true%> weibo
<!--               <%= f.radio_button :source ,2,:class=>"disabled" %> weichat -->
             </div>


         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default"
               data-dismiss="modal">关闭
            </button>

            <!-- <%= f.submit '提交', :class=>"btn btn-primary"%> -->
			 <%= f.button :submit,:class=>"btn btn-primary" do %> 提交 <% end%>

         </div>
           <% end %>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->