<%= render 'header'%>

<div class="col-sm-7 col-md-9 main">
<h1>编辑文章内容</h1>
<br/><br/>

<%= render 'form' %>

<%= link_to '显示', @article %> |
<%= link_to '返回', articles_path %>
</div>

<%= render 'footer'%>
