<%= render 'header'%>

<div class="col-sm-7 col-md-9 main">
    <h2>FindKOL </h2>

<!--   <button class="btn btn-primary btn-lg" data-toggle="modal"
   data-target="#myModal">
   开始演示模态框
</button>
-->
      <%= render 'new_article_modal' %>
</div>

</br>



<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> +添加新的文章内容 </button>
</br></br></br></br>
       <%=form_tag('/articles/list') do %>
        <label>或者选择已经添加的文章:</label>
          <%= select_tag 'article_id', options_for_select(@articles.map{|a| [a.title,a.id]}),:onchange=>"javascript:this.form.submit();",:class=>"form-control"  %>
         <% end %>

</div>

<%= render 'footer'%>



<!--
<script type="text/javascript">

function s_click(obj){
        var num=0;
        for (var i = 0; i < obj.options.length; i++) {
            if (obj.options[i].selected == true) {
                num++;
            }
        }
        if (num == 1) {
            var selected = $("select option:selected");
			var content = selected.attr('content');
            var keyword = selected.attr('keyword');
			var category = selected.attr('category');

            $.post('/articles/list', {input: content,keyword: keyword,label: category},function(){
                window.location.href="/articles/list";
            });
        }
}

</script>
-->